.uss-slider { position: relative; overflow: hidden; }
.uss-slider img { width: 100%; display: block; }
.swiper-button-next, .swiper-button-prev { color: #000; }
.swiper-pagination-bullet-active { background: #000; }
